.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  height: 20vh;
  font-size: calc(22px + 2vmin);
}

.Game {
  height: 90vh;
  font-size: calc(18px + 2vmin);
}
